---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2c8bda3c0aced2c86025961c4e2da0452332ea36"'
    body:
      encoding: UTF-8
      string: "{\n\t\"accounts\" : [\n\t\t{\n\t\t\t\"accountId\" : 5342358,\n\t\t\t\"accountName\"
        : \"Primary\",\n\t\t\t\"accountCurrency\" : \"USD\",\n\t\t\t\"marginRate\"
        : 0.05\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:29 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"52b4908f3477c81c8c80224512bc0715f21deaf4"'
    body:
      encoding: UTF-8
      string: "{\n\t\"accountId\" : 5342358,\n\t\"accountName\" : \"Primary\",\n\t\"balance\"
        : 100000,\n\t\"unrealizedPl\" : 0,\n\t\"realizedPl\" : 0,\n\t\"marginUsed\"
        : 0,\n\t\"marginAvail\" : 100000,\n\t\"openTrades\" : 0,\n\t\"openOrders\"
        : 0,\n\t\"marginRate\" : 0.05,\n\t\"accountCurrency\" : \"USD\"\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:29 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/?username=paudougles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"61cce213956060b4ccb6fd9f47235b4c03e74095"'
    body:
      encoding: UTF-8
      string: "{\n\t\"accounts\" : [\n\t\t{\n\t\t\t\"accountId\" : 1724176,\n\t\t\t\"accountName\"
        : \"Primary\",\n\t\t\t\"accountCurrency\" : \"USD\",\n\t\t\t\"marginRate\"
        : 0.05\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 23:27:03 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/1724176?username=paudougles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"83c3b001199921bd888ca07ddf04539617fe4a63"'
    body:
      encoding: UTF-8
      string: "{\n\t\"accountId\" : 1724176,\n\t\"accountName\" : \"Primary\",\n\t\"balance\"
        : 100000,\n\t\"unrealizedPl\" : 0,\n\t\"realizedPl\" : 0,\n\t\"marginUsed\"
        : 0,\n\t\"marginAvail\" : 100000,\n\t\"openTrades\" : 0,\n\t\"openOrders\"
        : 0,\n\t\"marginRate\" : 0.05,\n\t\"accountCurrency\" : \"USD\"\n}"
  recorded_at: Tue, 20 Jan 2015 23:27:04 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts?username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 404
      message: NOT_FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 55,\n\t\"message\" : \"Username specified is invalid\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Fri, 23 Jan 2015 17:37:53 GMT
recorded_with: VCR 2.9.3
