---
http_interactions:
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000&username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2015-01-20T17:22:29.000000Z\",\n\t\"price\"
        : 114.893,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 175503917,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:32 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/positions/USD_JPY?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bc64caecfbe1242cd1401bbe6d9f5125c93abd83"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"units\" : 30000,\n\t\"side\"
        : \"buy\",\n\t\"avgPrice\" : 114.893\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:32 GMT
- request:
    method: delete
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/positions/USD_JPY?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"ids\" : [\n\t\t175503915,\n\t\t175503918,\n\t\t175503916,\n\t\t175503919,\n\t\t175503917,\n\t\t175503920\n\t],\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"totalUnits\" : 30000,\n\t\"price\" : 114.879\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:32 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/positions?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0e99155591e8a0de4e3571f0bbe3d8060b2f6976"'
    body:
      encoding: UTF-8
      string: "{\n\t\"positions\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"avgPrice\" : 1.24101\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:33 GMT
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1//accounts/5342358/orders
    body:
      encoding: UTF-8
      string: username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 400
      message: BAD_REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 2,\n\t\"message\" : \"Missing required argument: type\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Tue, 20 Jan 2015 21:03:09 GMT
- request:
    method: delete
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/positions/USD_JPY/positions/USD_JPY?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 400
      message: BAD_REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 52,\n\t\"message\" : \"Invalid or malformed resource
        identifier: accountId\",\n\t\"moreInfo\" : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Tue, 20 Jan 2015 23:53:34 GMT
recorded_with: VCR 2.9.3
