---
http_interactions:
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000&username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2015-01-20T17:22:32.000000Z\",\n\t\"price\"
        : 114.893,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 175503923,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:35 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/trades/175503923?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0a117132be932d993446ae8c8925e3cf74629c18"'
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 175503923,\n\t\"units\" : 10000,\n\t\"side\" : \"buy\",\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"time\" : \"2015-01-20T17:22:32.000000Z\",\n\t\"price\"
        : 114.893,\n\t\"takeProfit\" : 0,\n\t\"stopLoss\" : 0,\n\t\"trailingStop\"
        : 0,\n\t\"trailingAmount\" : 0\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:35 GMT
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1//accounts/5342358/orders
    body:
      encoding: UTF-8
      string: username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 400
      message: BAD_REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 2,\n\t\"message\" : \"Missing required argument: type\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Tue, 20 Jan 2015 21:03:09 GMT
recorded_with: VCR 2.9.3
