---
http_interactions:
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/orders
    body:
      encoding: UTF-8
      string: expiry=2015-01-20T18%3A22%3A30%2B00%3A00&instrument=USD_JPY&price=1.14089&side=buy&type=limit&units=10000&username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-sandbox.oanda.com/v1/accounts/5342358/orders/175503909
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2015-01-20T17:22:28.000000Z\",\n\t\"price\"
        : 1.14089,\n\t\"orderOpened\" : {\n\t\t\"id\" : 175503909,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2015-01-20T18:22:30.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:30 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/accounts/5342358/orders?instrument=USD_JPY&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bfd754dedf750354ad9ff74fff8fe8f7d140ca4c"'
      X-Result-Count:
      - '2'
    body:
      encoding: UTF-8
      string: "{\n\t\"orders\" : [\n\t\t{\n\t\t\t\"id\" : 175503909,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2015-01-20T17:22:28.000000Z\",\n\t\t\t\"price\"
        : 1.14089,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2015-01-20T18:22:30.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 175503908,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2015-01-20T17:22:27.000000Z\",\n\t\t\t\"price\"
        : 1.14089,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2015-01-20T18:22:30.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:30 GMT
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1//accounts/5342358/orders
    body:
      encoding: UTF-8
      string: username=dwaymotim
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 400
      message: BAD_REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 2,\n\t\"message\" : \"Missing required argument: type\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Tue, 20 Jan 2015 21:03:06 GMT
recorded_with: VCR 2.9.3
