---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/labs/v1/calendar?instrument=EUR_CAD&period=2592000&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - '0.2'
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: '[{"market":"-8","actual":"-20","region":"europe","currency":"EUR","forecast":"-7","previous":"-16","unit":"k","timestamp":1454403300,"title":"Unemployment
        Change","impact":2},{"market":"6.3","actual":"6.2","region":"europe","currency":"EUR","forecast":"6.3","previous":"6.3","unit":"%","timestamp":1454403300,"title":"Unemployment
        Rate (sa)"},{"market":"10.5","actual":"10.4","region":"europe","currency":"EUR","forecast":"10.5","previous":"10.5","unit":"%","timestamp":1454407200,"title":"Unemployment","impact":2},{"market":"-0.5","actual":"-0.7","region":"europe","currency":"EUR","forecast":"-0.8","previous":"1.5","unit":"%
        m/m","timestamp":1454655600[...]
