---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/labs/v1/calendar?period=86400
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - '0.2'
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: '[{"actual":"-0.1","previous":"0.5","currency":"AUD","unit":"% m/m","timestamp":1458001800,"region":"asia","title":"New
        motor vehicle sales"}]'
  recorded_at: Tue, 15 Mar 2016 02:04:37 GMT
recorded_with: VCR 3.0.1
