---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/labs/v1/calendar?instrument=EUR_CAD&period=604800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - '0.2'
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: '[{"market":"0.5","actual":"3.3","region":"europe","currency":"EUR","forecast":"-0.3","previous":"-0.3","unit":"%
        m/m","timestamp":1457420400,"title":"Industrial Production","impact":2},{"market":"180","actual":"212.6","region":"americas","currency":"CAD","previous":"165.1","unit":"k","timestamp":1457442900,"title":"Housing
        starts","impact":2},{"market":"-2.3","actual":"-9.8","region":"americas","currency":"CAD","previous":"7.7","unit":"%
        m/m","timestamp":1457443800,"title":"Building permits","impact":2},{"currency":"CAD","unit":"","timestamp":1457535600,"region":"americas","title":"BoC
        interest rate announcement","impact":3},{"market":"0.05","actual":"0.00","region":"europe","currency":"EUR","forecast":"0.05","previous":"0.05","unit":"%","timestamp":1457613900,"title":"ECB
        - Refinancing Rate","impact":3},{"market":"-0.4","actual":"-0.40","region":"europe","currency":"EUR","forecast":"-0.4","previous":"-0.3","unit":"%","timestamp":1457613900,"title":"ECB
        - Deposit Rate","impact":3},{"currency":"EUR","unit":"","timestamp":1457616600,"region":"europe","title":"ECB
        President Draghi gives press conference following interest rate announcement","impact":3},{"market":"10","actual":"-2.3","region":"americas","currency":"CAD","forecast":"0","previous":"-5.7","unit":"k","timestamp":1457703000,"title":"Net
        Change in Employment","impact":2},{"market":"7.2","actual":"7.3","region":"americas","currency":"CAD","forecast":"7.2","previous":"7.2","unit":"%","timestamp":1457703000,"title":"Unemployment","impact":2}]'
  recorded_at: Tue, 15 Mar 2016 03:18:02 GMT
recorded_with: VCR 3.0.1
