---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/candles?candleFormat=midpoint&count=1&granularity=M1&instrument=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6d5bf87c951bbd04839c13ab691326007159991a"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"granularity\" : \"M1\",\n\t\"candles\"
        : [\n\t\t{\n\t\t\t\"time\" : \"2018-01-08T18:26:00.000000Z\",\n\t\t\t\"openMid\"
        : 1.1968,\n\t\t\t\"highMid\" : 1.1968,\n\t\t\t\"lowMid\" : 1.19676,\n\t\t\t\"closeMid\"
        : 1.1968,\n\t\t\t\"volume\" : 5,\n\t\t\t\"complete\" : false\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:45 GMT
recorded_with: VCR 4.0.0
