---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/candles?candleFormat=midpoint&count=1&granularity=M1&instrument=EUR_USD&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"91138a61742f1acf37e141ebabd730c909d2bd6f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"granularity\" : \"M1\",\n\t\"candles\"
        : [\n\t\t{\n\t\t\t\"time\" : \"2015-01-20T17:21:00.000000Z\",\n\t\t\t\"openMid\"
        : 1.24095,\n\t\t\t\"highMid\" : 1.24095,\n\t\t\t\"lowMid\" : 1.24095,\n\t\t\t\"closeMid\"
        : 1.24095,\n\t\t\t\"volume\" : 1,\n\t\t\t\"complete\" : false\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:34 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/candles?candleFormat=midpoint&count=1&granularity=M1&instrument=EUR_USD&username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ddcad30954a705da9c3a47886df47ab4e20bed99"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"granularity\" : \"M1\",\n\t\"candles\"
        : [\n\t\t{\n\t\t\t\"time\" : \"2015-01-23T17:37:00.000000Z\",\n\t\t\t\"openMid\"
        : 1.240555,\n\t\t\t\"highMid\" : 1.24057,\n\t\t\t\"lowMid\" : 1.24039,\n\t\t\t\"closeMid\"
        : 1.24039,\n\t\t\t\"volume\" : 29,\n\t\t\t\"complete\" : false\n\t\t}\n\t]\n}"
  recorded_at: Fri, 23 Jan 2015 17:37:54 GMT
recorded_with: VCR 2.9.3
