---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/candles?candleFormat=midpoint&count=1&granularity=M1&instrument=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c7552c220406ff187c34d0c25964c2f79aed1d9f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"granularity\" : \"M1\",\n\t\"candles\"
        : [\n\t\t{\n\t\t\t\"time\" : \"2016-03-14T23:03:00.000000Z\",\n\t\t\t\"openMid\"
        : 1.110365,\n\t\t\t\"highMid\" : 1.110365,\n\t\t\t\"lowMid\" : 1.11036,\n\t\t\t\"closeMid\"
        : 1.11036,\n\t\t\t\"volume\" : 2,\n\t\t\t\"complete\" : false\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 23:03:29 GMT
recorded_with: VCR 2.9.3
