---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"efb224b14d5e6c03ab1a19a9983274e09d124b20"'
    body:
      encoding: UTF-8
      string: "{\n\t\"accounts\" : [\n\t\t{\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"accountName\"
        : \"Primary\",\n\t\t\t\"accountCurrency\" : \"USD\",\n\t\t\t\"marginRate\"
        : 0.05\n\t\t},\n\t\t{\n\t\t\t\"accountId\" : 1401515,\n\t\t\t\"accountName\"
        : \"USD\",\n\t\t\t\"accountCurrency\" : \"USD\",\n\t\t\t\"marginRate\" : 0.1\n\t\t},\n\t\t{\n\t\t\t\"accountId\"
        : 5094848,\n\t\t\t\"accountName\" : \"WTI\",\n\t\t\t\"accountCurrency\" :
        \"CAD\",\n\t\t\t\"marginRate\" : 0.05\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:41 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"caf2973d938cdd35ff48cf6b0a3d0b58890db296"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2018-01-09T16:02:18.372811Z\",\n\t\t\t\"bid\" : 1.19304,\n\t\t\t\"ask\"
        : 1.19317\n\t\t}\n\t]\n}"
  recorded_at: Tue, 09 Jan 2018 16:02:32 GMT
recorded_with: VCR 4.0.0
