---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/instruments?username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cf07689148cdec8ec3404c630d3c8e55c3c6090d"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"AU200_AUD\",\n\t\t\t\"displayName\"
        : \"Australia 200\",\n\t\t\t\"pip\" : \"1.0\",\n\t\t\t\"maxTradeUnits\" :
        200\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"AUD_CAD\",\n\t\t\t\"displayName\"
        : \"AUD\\/CAD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUnits\" : 10000000\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"AUD_CHF\",\n\t\t\t\"displayName\" : \"AUD\\/CHF\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUnits\"
        : 10000000\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"AUD_HKD\",\n\t\t\t\"displayName\"
        : \"AUD\\/HKD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUni[...]
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/instruments/?username=paudougles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 404
      message: NOT_FOUND
    headers:
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 38,\n\t\"message\" : \"No matching handler for request
        with uri \\/v1\\/instruments\\/\",\n\t\"moreInfo\" : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Tue, 20 Jan 2015 23:27:05 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/instruments?username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cf07689148cdec8ec3404c630d3c8e55c3c6090d"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"AU200_AUD\",[...]
