---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"43cd71e279e9a0cda2f03ff40944ad6e0427100e"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:18.376967Z\",\n\t\t\t\"bid\" : 113.064,\n\t\t\t\"ask\"
        : 113.076\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:42 GMT
recorded_with: VCR 4.0.0
