---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/instruments?fields=pip,precision&instruments=EUR_USD,EUR_CAD&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3a3c61c7d6d86ef8c92f59e4020f39d07e2e5b2f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"pip\"
        : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"EUR_CAD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t}\n\t]\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:33 GMT
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/instruments?fields=pip,precision&instruments=EUR_USD,EUR_CAD&username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3a3c61c7d6d86ef8c92f59e4020f39d07e2e5b2f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"pip\"
        : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"EUR_CAD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t}\n\t]\n}"
  recorded_at: Fri, 23 Jan 2015 17:37:54 GMT
recorded_with: VCR 2.9.3
