---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/instruments?accountId=1871900&fields=pip,precision&instruments=EUR_USD,EUR_CAD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3a3c61c7d6d86ef8c92f59e4020f39d07e2e5b2f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"pip\"
        : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"EUR_CAD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"precision\" : \"0.00001\"\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 23:01:13 GMT
recorded_with: VCR 2.9.3
