---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1642dcb8a7f28e4883350b2fff6f20564235f600"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"time\"
        : \"2016-03-14T21:25:16.642637Z\",\n\t\t\t\"bid\" : 113.773,\n\t\t\t\"ask\"
        : 113.793\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 21:27:01 GMT
recorded_with: VCR 2.9.3
