---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7ae48eaaf99b13c86a4ff0374d1f777d5f08ae97"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:29.565399Z\",\n\t\t\t\"bid\" : 1.1967,\n\t\t\t\"ask\"
        : 1.19683\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:41 GMT
recorded_with: VCR 4.0.0
