---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"71a1a9fb60980bbf53ef4bfc3a238d77e468739a"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2016-03-14T21:26:36.569124Z\",\n\t\t\t\"bid\" : 1.11015,\n\t\t\t\"ask\"
        : 1.11036\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 21:27:00 GMT
recorded_with: VCR 2.9.3
