---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: expiry=2016-03-14T22%3A30%3A16%2B00%3A00&instrument=EUR_USD&price=1.0101499999999999&side=buy&type=limit&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10173828259
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"time\" : \"2016-03-14T21:30:17.000000Z\",\n\t\"price\"
        : 1.01015,\n\t\"orderOpened\" : {\n\t\t\"id\" : 10173828259,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2016-03-14T22:30:16.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Mon, 14 Mar 2016 21:30:17 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10173828259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"badd17e09acaed9a0aa8686ce12e975b81eacf8d"'
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10173828259,\n\t\"instrument\" : \"EUR_USD\",\n\t\"units\"
        : 10000,\n\t\"side\" : \"buy\",\n\t\"type\" : \"limit\",\n\t\"time\" : \"2016-03-14T21:30:17.000000Z\",\n\t\"price\"
        : 1.01015,\n\t\"takeProfit\" : 0,\n\t\"stopLoss\" : 0,\n\t\"expiry\" : \"2016-03-14T22:30:16.000000Z\",\n\t\"upperBound\"
        : 0,\n\t\"lowerBound\" : 0,\n\t\"trailingStop\" : 0\n}"
  recorded_at: Mon, 14 Mar 2016 21:30:17 GMT
recorded_with: VCR 2.9.3
