---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: expiry=2018-01-08T19%3A26%3A42%2B00%3A00&instrument=EUR_USD&price=1.0967&side=buy&type=limit&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10903628497
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"time\" : \"2018-01-08T18:26:32.000000Z\",\n\t\"price\"
        : 1.0967,\n\t\"orderOpened\" : {\n\t\t\"id\" : 10903628497,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2018-01-08T19:26:42.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:42 GMT
- request:
    method: patch
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: units=9000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 405
      message: METHOD_NOT_ALLOWED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 7,\n\t\"message\" : \"Method not allowed\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:43 GMT
- request:
    method: patch
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10903628497
    body:
      encoding: UTF-8
      string: units=9000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10903628497,\n\t\"instrument\" : \"EUR_USD\",\n\t\"units\"
        : 9000,\n\t\"side\" : \"buy\",\n\t\"type\" : \"limit\",\n\t\"time\" : \"2018-01-08T18:34:28.000000Z\",\n\t\"price\"
        : 1.0967,\n\t\"takeProfit\" : 0,\n\t\"stopLoss\" : 0,\n\t\"expiry\" : \"2018-01-08T19:26:42.000000Z\",\n\t\"upperBound\"
        : 0,\n\t\"lowerBound\" : 0,\n\t\"trailingStop\" : 0\n}"
  recorded_at: Mon, 08 Jan 2018 18:34:39 GMT
recorded_with: VCR 4.0.0
