---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: expiry=2018-01-08T19%3A26%3A42%2B00%3A00&instrument=USD_JPY&price=112.964&side=buy&type=limit&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10903628490
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T18:26:31.000000Z\",\n\t\"price\"
        : 112.964,\n\t\"orderOpened\" : {\n\t\t\"id\" : 10903628490,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2018-01-08T19:26:42.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:42 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders?instrument=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b37885951eacf8e081809450c54ac1b64c461f85"'
      X-Result-Count:
      - '2'
    body:
      encoding: UTF-8
      string: "{\n\t\"orders\" : [\n\t\t{\n\t\t\t\"id\" : 10903628490,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2018-01-08T18:26:31.000000Z\",\n\t\t\t\"price\"
        : 112.964,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2018-01-08T19:26:42.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10903622521,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2018-01-08T18:01:11.000000Z\",\n\t\t\t\"price\"
        : 112.981,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2018-01-08T19:01:21.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:42 GMT
recorded_with: VCR 4.0.0
