---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: expiry=2018-01-08T19%3A26%3A41%2B00%3A00&instrument=EUR_USD&price=1.0967&side=buy&type=limit&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10903628489
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"EUR_USD\",\n\t\"time\" : \"2018-01-08T18:26:31.000000Z\",\n\t\"price\"
        : 1.0967,\n\t\"orderOpened\" : {\n\t\t\"id\" : 10903628489,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2018-01-08T19:26:41.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:42 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f096471d9a967a01e6c6b1f147e96f70c647e3ee"'
      X-Result-Count:
      - '5'
    body:
      encoding: UTF-8
      string: "{\n\t\"orders\" : [\n\t\t{\n\t\t\t\"id\" : 10903628489,\n\t\t\t\"instrument\"
        : \"EUR_USD\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2018-01-08T18:26:31.000000Z\",\n\t\t\t\"price\"
        : 1.0967,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2018-01-08T19:26:41.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10903622531,\n\t\t\t\"instrument\"
        : \"EUR_USD\",\n\t\t\t\"units\" : 9000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2[...]
