---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: expiry=2016-03-14T22%3A30%3A16%2B00%3A00&instrument=USD_JPY&price=113.673&side=buy&type=limit&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-fxpractice.oanda.com/v1/accounts/1871900/orders/10173828251
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2016-03-14T21:30:16.000000Z\",\n\t\"price\"
        : 113.673,\n\t\"orderOpened\" : {\n\t\t\"id\" : 10173828251,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"expiry\" : \"2016-03-14T22:30:16.000000Z\",\n\t\t\"upperBound\"
        : 0,\n\t\t\"lowerBound\" : 0,\n\t\t\"trailingStop\" : 0\n\t}\n}"
  recorded_at: Mon, 14 Mar 2016 21:30:16 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders?instrument=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"423e273543c08346c70ca836ba731aa1dc94bae5"'
      X-Result-Count:
      - '7'
    body:
      encoding: UTF-8
      string: "{\n\t\"orders\" : [\n\t\t{\n\t\t\t\"id\" : 10173828251,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \"2016-03-14T21:30:16.000000Z\",\n\t\t\t\"price\"
        : 113.673,\n\t\t\t\"takeProfit\" : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"expiry\"
        : \"2016-03-14T22:30:16.000000Z\",\n\t\t\t\"upperBound\" : 0,\n\t\t\t\"lowerBound\"
        : 0,\n\t\t\t\"trailingStop\" : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10173825142,\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"type\"
        : \"limit\",\n\t\t\t\"time\" : \[...]
