---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T18:26:33.000000Z\",\n\t\"price\"
        : 113.076,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10903628505,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:44 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/positions/USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8cade1a35e948b3fe73b44a6c89f770a59a66498"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"units\" : 90000,\n\t\"side\"
        : \"buy\",\n\t\"avgPrice\" : 113.089\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:44 GMT
- request:
    method: delete
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/positions/USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"ids\" : [\n\t\t10903622607,\n\t\t10903628506,\n\t\t10903622611,\n\t\t10903628507,\n\t\t10903622618,\n\t\t10903628508,\n\t\t10903622620,\n\t\t10903628509,\n\t\t10903622625,\n\t\t10903628510,\n\t\t10903622626,\n\t\t10903628511,\n\t\t10903628502,\n\t\t10903628512,\n\t\t10903628503,\n\t\t10903628513,\n\t\t10903628505,\n\t\t10903628514\n\t],\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"totalUnits\" : 90000,\n\t\"price\" : 113.064\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:44 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/positions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a2e0154b6b5d56267df3c2f2d28d8a0a3d0d8fc2"'
    body:
      encoding: UTF-8
      string: "{\n\t\"positions\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"units\"
        : 280000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"avgPrice\" : 1.1224\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:44 GMT
recorded_with: VCR 4.0.0
