---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T18:26:32.000000Z\",\n\t\"price\"
        : 113.076,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10903628502,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:43 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/positions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5cb16ea8a3401e97d3615abc481a0c5e09749991"'
    body:
      encoding: UTF-8
      string: "{\n\t\"positions\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"units\"
        : 280000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"avgPrice\" : 1.1224\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"USD_JPY\",\n\t\t\t\"units\" : 70000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"avgPrice\"
        : 113.093\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:43 GMT
recorded_with: VCR 4.0.0
