---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD,EUR_CAD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a0cf5f370a6f3748496539f4f398266a40b82b54"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:31.344805Z\",\n\t\t\t\"bid\" : 1.19674,\n\t\t\t\"ask\"
        : 1.19686\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"EUR_CAD\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:28.478165Z\",\n\t\t\t\"bid\" : 1.48652,\n\t\t\t\"ask\"
        : 1.48673\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:44 GMT
recorded_with: VCR 4.0.0
