---
http_interactions:
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1/accounts
    body:
      encoding: UTF-8
      string: username=_
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-sandbox.oanda.com/v1/accounts/5342358
    body:
      encoding: UTF-8
      string: "{\n\t\"username\" : \"dwaymotim\",\n\t\"password\" : \"hoHahaHu\",\n\t\"accountId\"
        : 5342358\n}"
  recorded_at: Tue, 20 Jan 2015 17:22:28 GMT
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1account
    body:
      encoding: UTF-8
      string: username=_
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"53f4b7f5-aa"'
    body:
      encoding: UTF-8
      string: |+
        {
            "code" : 38,
            "message" : "No matching handler for the request is found",
            "moreInfo" : "http:\/\/developer.oanda.com\/docs\/v1\/troubleshooting\/#errors"
        }

  recorded_at: Tue, 20 Jan 2015 21:20:26 GMT
- request:
    method: post
    uri: http://api-sandbox.oanda.com/v1/accounts/
    body:
      encoding: UTF-8
      string: username=_
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api-sandbox.oanda.com/v1/accounts/1724176
    body:
      encoding: UTF-8
      string: "{\n\t\"username\" : \"paudougles\",\n\t\"password\" : \"AtIrgElCyp\",\n\t\"accountId\"
        : 1724176\n}"
  recorded_at: Tue, 20 Jan 2015 23:27:02 GMT
recorded_with: VCR 2.9.3
