---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/labs/v1/spreads?instrument=EUR_CAD&period=3600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - '0.2'
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: '{"avg":[[1458169200,5.12678],[1458170100,4.07667]],"min":[[1458169200,2.9],[1458170100,2.9]],"max":[[1458169200,8.1],[1458170100,6.3]]}'
  recorded_at: Wed, 16 Mar 2016 23:58:13 GMT
recorded_with: VCR 3.0.1
