---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/labs/v1/spreads?instrument=EUR_CAD&period=3600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - '0.2'
      X-Catalyst:
      - '5.90042'
    body:
      encoding: UTF-8
      string: '{"avg":[[1515430800,2.06],[1515431700,2.21344]],"min":[[1515430800,1.3],[1515431700,1.4]],"max":[[1515430800,3.2],[1515431700,3.2]]}'
  recorded_at: Mon, 08 Jan 2018 18:26:55 GMT
recorded_with: VCR 4.0.0
