---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2016-03-14T23:09:59.000000Z\",\n\t\"price\"
        : 113.806,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10173953742,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 14 Mar 2016 23:10:00 GMT
- request:
    method: patch
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades/10173953742
    body:
      encoding: UTF-8
      string: takeProfit=115.806
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10173953742,\n\t\"units\" : 10000,\n\t\"side\" : \"buy\",\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"time\" : \"2016-03-14T23:09:59.000000Z\",\n\t\"price\"
        : 113.806,\n\t\"takeProfit\" : 115.806,\n\t\"stopLoss\" : 0,\n\t\"trailingStop\"
        : 0,\n\t\"trailingAmount\" : 0\n}"
  recorded_at: Mon, 14 Mar 2016 23:10:00 GMT
recorded_with: VCR 2.9.3
