---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T22:23:08.000000Z\",\n\t\"price\"
        : 113.132,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10903848924,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 08 Jan 2018 22:23:19 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades?instrument=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"475f9305422461069b7ec77570c1035416be818b"'
      X-Result-Count:
      - '11'
    body:
      encoding: UTF-8
      string: "{\n\t\"trades\" : [\n\t\t{\n\t\t\t\"id\" : 10903848924,\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"time\"
        : \"2018-01-08T22:23:08.000000Z\",\n\t\t\t\"price\" : 113.132,\n\t\t\t\"takeProfit\"
        : 0,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"trailingStop\" : 0,\n\t\t\t\"trailingAmount\"
        : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10903848922,\n\t\t\t\"units\" : 10000,\n\t\t\t\"side\"
        : \"buy\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"time\" : \"2018-01-08T22:23:08.000000Z\",\n\t\t\t\"price\"
        : 113.132,\n\t\t\t\"takeProfit\" : 115.132,\n\t\t\t\"stopLoss\" : 0,\n\t\t\t\"trailingStop\"
        : 0,\n\t\t\t\"trailingAmount\" : 0\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10903848921,\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n[...]
- request:
    method: delete
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades/10903628535
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10903848926,\n\t\"price\" : 113.11,\n\t\"profit\" : 3.0053,\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"side\" : \"buy\",\n\t\"time\" : \"2018-01-08T22:23:08.000000Z\"\n}"
  recorded_at: Mon, 08 Jan 2018 22:23:19 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"34f11d2f884113bd26c487687d53ee1808cb57d6"'
      X-Result-Count:
      - '38'
    body:
   [...]
