---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T22:23:08.000000Z\",\n\t\"price\"
        : 113.132,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10903848922,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 08 Jan 2018 22:23:19 GMT
- request:
    method: patch
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades/10903848922
    body:
      encoding: UTF-8
      string: takeProfit=115.132
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10903848922,\n\t\"units\" : 10000,\n\t\"side\" : \"buy\",\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T22:23:08.000000Z\",\n\t\"price\"
        : 113.132,\n\t\"takeProfit\" : 115.132,\n\t\"stopLoss\" : 0,\n\t\"trailingStop\"
        : 0,\n\t\"trailingAmount\" : 0\n}"
  recorded_at: Mon, 08 Jan 2018 22:23:19 GMT
- request:
    method: patch
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/trades
    body:
      encoding: UTF-8
      string: takeProfit=115.132
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 405
      message: METHOD_NOT_ALLOWED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"code\" : 7,\n\t\"message\" : \"Method not allowed\",\n\t\"moreInfo\"
        : \"http:\\/\\/developer.oanda.com\\/docs\\/v1\\/troubleshooting\\/#errors\"\n}"
  recorded_at: Mon, 08 Jan 2018 22:23:53 GMT
recorded_with: VCR 4.0.0
