---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2016-03-14T23:11:41.000000Z\",\n\t\"price\"
        : 113.814,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10173955919,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 14 Mar 2016 23:11:42 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/transactions?instrument=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8194f3e82c922070bf7d5fee6d01fa7b0e62193c"'
      X-Result-Count:
      - '28'
    body:
      encoding: UTF-8
      string: "{\n\t\"transactions\" : [\n\t\t{\n\t\t\t\"id\" : 10173955919,\n\t\t\t\"accountId\"
        : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:11:41.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.814,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 100449.5599,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10173955919,\n\t\t\t\t\"units\" : 10000\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10173955906,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:11:40.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.814,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 100449.5599,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10173955906,\n\t\t\t\t\"units\" : 10000\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10173954099,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:10:16.000000Z\",\n\t\t\t\"type\"
        : \"TRADE_CLOSE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\" :
        10000,\n\t\t\t\"side\" : \"sell\",\n\t\t\t\"price\" : 113.789,\n\t\t\t\"pl\"
        : -1.494,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 100449.5599,\n\t\t\t\"tradeId\"
        : 10173953425\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10173954090,\n\t\t\t\"accountId\"
        : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:10:15.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.806,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 100451.0539,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10173954090,\n\t\t\t\t\"units\" : 10000\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10173953748,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:09:59.000000Z\",\n\t\t\t\"type\"
        : \"TRADE_UPDATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"takeProfitPrice\" : 115.806,\n\t\t\t\"tradeId\" : 10173953742\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10173953742,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2016-03-14T23:09:59.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.806,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 100451.0539,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" :[...]
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/transactions/10173955919
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ec7fbac2608e7358415e20e1b3ad5a10eb7e606a"'
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10173955919,\n\t\"accountId\" : 1871900,\n\t\"time\"
        : \"2016-03-14T23:11:41.000000Z\",\n\t\"type\" : \"MARKET_ORDER_CREATE\",\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"units\" : 10000,\n\t\"side\" : \"buy\",\n\t\"price\" :
        113.814,\n\t\"pl\" : 0,\n\t\"interest\" : 0,\n\t\"accountBalance\" : 100449.5599,\n\t\"tradeOpened\"
        : {\n\t\t\"id\" : 10173955919,\n\t\t\"units\" : 10000\n\t}\n}"
  recorded_at: Mon, 14 Mar 2016 23:11:42 GMT
recorded_with: VCR 2.9.3
