---
http_interactions:
- request:
    method: post
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/orders
    body:
      encoding: UTF-8
      string: instrument=USD_JPY&side=buy&type=market&units=10000
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"instrument\" : \"USD_JPY\",\n\t\"time\" : \"2018-01-08T18:26:47.000000Z\",\n\t\"price\"
        : 113.076,\n\t\"tradeOpened\" : {\n\t\t\"id\" : 10903628544,\n\t\t\"units\"
        : 10000,\n\t\t\"side\" : \"buy\",\n\t\t\"takeProfit\" : 0,\n\t\t\"stopLoss\"
        : 0,\n\t\t\"trailingStop\" : 0\n\t},\n\t\"tradesClosed\" : [],\n\t\"tradeReduced\"
        : {}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:57 GMT
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/transactions?instrument=USD_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2d0d65e39c06d905dab89927d39cd2da998aeed6"'
      X-Result-Count:
      - '50'
    body:
      encoding: UTF-8
      string: "{\n\t\"transactions\" : [\n\t\t{\n\t\t\t\"id\" : 10903628544,\n\t\t\t\"accountId\"
        : 1871900,\n\t\t\t\"time\" : \"2018-01-08T18:26:47.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.076,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 95840.6276,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10903628544,\n\t\t\t\t\"units\" : 10000\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10903628542,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2018-01-08T18:26:46.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.076,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 95840.6276,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10903628542,\n\t\t\t\t\"units\" : 10000\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"id\"
        : 10903628541,\n\t\t\t\"accountId\" : 1871900,\n\t\t\t\"time\" : \"2018-01-08T18:26:46.000000Z\",\n\t\t\t\"type\"
        : \"TRADE_CLOSE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\" :
        10000,\n\t\t\t\"side\" : \"sell\",\n\t\t\t\"price\" : 113.064,\n\t\t\t\"pl\"
        : -1.0613,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 95840.6276,\n\t\t\t\"tradeId\"
        : 10903628529\n\t\t},\n\t\t{\n\t\t\t\"id\" : 10903628540,\n\t\t\t\"accountId\"
        : 1871900,\n\t\t\t\"time\" : \"2018-01-08T18:26:46.000000Z\",\n\t\t\t\"type\"
        : \"MARKET_ORDER_CREATE\",\n\t\t\t\"instrument\" : \"USD_JPY\",\n\t\t\t\"units\"
        : 10000,\n\t\t\t\"side\" : \"buy\",\n\t\t\t\"price\" : 113.076,\n\t\t\t\"pl\"
        : 0,\n\t\t\t\"interest\" : 0,\n\t\t\t\"accountBalance\" : 95841.6889,\n\t\t\t\"tradeOpened\"
        : {\n\t\t\t\t\"id\" : 10903628540,\n\t\t\t\t\"units\[...]
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/accounts/1871900/transactions/10903628544
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f8723c81c6249fa8bfd64d8414b5a89e72cfb68d"'
    body:
      encoding: UTF-8
      string: "{\n\t\"id\" : 10903628544,\n\t\"accountId\" : 1871900,\n\t\"time\"
        : \"2018-01-08T18:26:47.000000Z\",\n\t\"type\" : \"MARKET_ORDER_CREATE\",\n\t\"instrument\"
        : \"USD_JPY\",\n\t\"units\" : 10000,\n\t\"side\" : \"buy\",\n\t\"price\" :
        113.076,\n\t\"pl\" : 0,\n\t\"interest\" : 0,\n\t\"accountBalance\" : 95840.6276,\n\t\"tradeOpened\"
        : {\n\t\t\"id\" : 10903628544,\n\t\t\"units\" : 10000\n\t}\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:58 GMT
recorded_with: VCR 4.0.0
