---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f31dec3261edd9030df81dc0ba69fe5a9d4e2fc9"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:31.344805Z\",\n\t\t\t\"bid\" : 1.19674,\n\t\t\t\"ask\"
        : 1.19686\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:51 GMT
[...]
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f31dec3261edd9030df81dc0ba69fe5a9d4e2fc9"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2018-01-08T18:26:31.344805Z\",\n\t\t\t\"bid\" : 1.19674,\n\t\t\t\"ask\"
        : 1.19686\n\t\t}\n\t]\n}"
  recorded_at: Mon, 08 Jan 2018 18:26:52 GMT
recorded_with: VCR 4.0.0
