---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"82242c079ed86208ffd6320c1b4f1e236fcc6566"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\
        \t\t\"time\" : \"2016-04-12T01:10:03.272613Z\",\n\t\t\t\"bid\" : 1.14111,\n\
        \t\t\t\"ask\" : 1.14124\n\t\t}\n\t]\n}"
  recorded_at: Tue, 12 Apr 2016 01:10:07 GMT
[...]
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 429
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"569816fb-da"'
    body:
      encoding: UTF-8
      string: |
        {
            "code" : 68,
            "message" : "Rate limit violation of newly established connections. Allowed rate: 2 connections per second",
            "moreInfo" : "http:\/\/developer.oanda.com\/docs\/v1\/troubleshooting\/#errors"
        }
  recorded_at: Tue, 12 Apr 2016 01:10:09 GMT
recorded_with: VCR 3.0.1
