---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"01b82f3f9c73b53655860ad76ce02ed086b60f0c"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2016-03-14T16:23:38.477982Z\",\n\t\t\t\"bid\" : 1.11149,\n\t\t\t\"ask\"
        : 1.11162\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 16:23:39 GMT
[...]
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v1/prices?instruments=EUR_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"e04ddc2bcbd6de4403009d272f707a35bcb871bb"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2016-03-14T16:23:41.519333Z\",\n\t\t\t\"bid\" : 1.11147,\n\t\t\t\"ask\"
        : 1.1116\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 16:23:41 GMT
recorded_with: VCR 3.0.1
