---
http_interactions:
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/prices?instruments=EUR_USD&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f481d760a871b4f679207cd0715bd4be8271f399"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2015-09-11T20:41:29.948985Z\",\n\t\t\t\"bid\" : 1.24115,\n\t\t\t\"ask\"
        : 1.24128\n\t\t}\n\t]\n}"
  recorded_at: Fri, 11 Sep 2015 20:41:30 GMT
[...]
- request:
    method: get
    uri: http://api-sandbox.oanda.com/v1/prices?instruments=EUR_USD&username=dwaymotim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f481d760a871b4f679207cd0715bd4be8271f399"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2015-09-11T20:41:29.948985Z\",\n\t\t\t\"bid\" : 1.24115,\n\t\t\t\"ask\"
        : 1.24128\n\t\t}\n\t]\n}"
  recorded_at: Fri, 11 Sep 2015 20:41:30 GMT
recorded_with: VCR 2.9.3
